---
import Favicon from "@/components/structure/Favicon.astro";
import "@/styles/content.css";

interface Props {
    title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title || "Diajar"}</title>
        <link rel="stylesheet" href="/style.css" />
        <slot name="meta-tags" />
        <slot name="schema" />
        <Favicon />
    </head>
    <body class="text-gray-900">
        <main>
            <slot name="featured-image" />
            <div
                class="grid
                    grid-cols-1
                    md:grid-cols-[20rem_min(30rem,100%)]
                    lg:grid-cols-[1fr_min(40rem,100%)_1fr]
                    grid-rows-auto
                    w-full my-8"
            >
                <div
                    class="col-start-2 flex w-full md:col-start-1 pl-4 pr-4 md:pr-6 md:pb-4 flex-col relative items-start md:items-end"
                >
                    <slot name="back-link" />
                    <slot name="table-of-contents" />
                </div>

                <div class="col-start-2 px-4">
                    <slot />
                </div>

                <div
                    class="col-start-2 flex w-full lg:col-start-3 px-4 md:pb-4 flex-col relative items-start"
                >
                    <div
                        class="w-auto m-auto lg:m-0 lg:w-20 sticky px-2 py-1 top-8 flex justify-center flex-wrap"
                    >
                        <slot name="share" />
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
