---
interface Props {
    title?: string;
}

import "@/styles/content.css";
import BackLink from "@/components/navigation/BackLink.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title || "Diajar.in"}</title>
    </head>
    <body transition:animate="none" class="text-gray-900">
        <main>
            <div
                class="grid
                    grid-cols-[1fr_min(40rem,100%)_1fr]
                    w-full my-8"
            >
                <div class="col-start-2 px-4">
                    <BackLink />
                </div>
                <div class="col-start-2 px-4 content">
                    <slot />
                </div>
            </div>
        </main>
    </body>
</html>
