---
interface Props {
    className?: string;
}
const { className } = Astro.props;
---

<a
    href="/"
    data-back-to-blog
    class={`flex gap-2 bg-gray-900 items-center text-white w-auto py-1 px-4 rounded ${className}`}
>
    <span class="icon-chevron-left text-lg"></span>
    Kembali
</a>

<script>
    function initialize() {
        const backButton = document.querySelector("[data-back-to-blog]");
        const fromFeed = localStorage.getItem("cameFromFeed");
        localStorage.removeItem("cameFromFeed");

        backButton?.addEventListener("click", (e) => {
            if (fromFeed && history.length > 1) {
                e.preventDefault();
                history.back();
            }
        });
    }

    initialize();
    document.addEventListener("astro:after-swap", initialize);
</script>
