---
interface Props {
    className?: string;
}
const { className } = Astro.props;
---

<a
    href="/"
    data-back-to-blog
    class={`flex gap-2 bg-gray-900 items-center text-white w-auto py-1 px-4 rounded ${className}`}
>
    <span class="icon-chevron-left text-lg"></span>
    Kembali
</a>

<script>
    import feedLinks from "@/utils/feedLinks";

    feedLinks();
    document.addEventListener("astro:after-swap", feedLinks);
</script>
