---
interface Props {
    placeholder?: string;
}

const { placeholder } = Astro.props;
---

<div class="w-full col-start-2 sticky bg-white pt-2">
    <div class="relative p-2">
        <div class="w-50 h-13 border border-6 border-white m-auto">
            <button
                type="button"
                class="h-full justify-center gap-1 text-center px-2 flex items-center w-full border border-black rounded-md bg-gray-900 text-white"
            >
                <span class="icon-search text-lg"></span>
                {placeholder || "Cari artikel..."}
            </button>
        </div>
        <span
            class="block absolute -z-1 top-1/2 h-[1px] bg-gray-300 w-[calc(100%_-_2rem)] left-4 m-auto"
        ></span>
    </div>
</div>
