---
import type { CollectionEntry } from "astro:content";

interface Props {
    article: CollectionEntry<"articles">;
    tags: CollectionEntry<"tags">[];
}

const { article, tags } = Astro.props;
---

<article>
    <div class="border-b border-b-gray-300 pb-2">
        <h1 class="text-lg font-bold flex-1 mb-1! mt-0!">
            {article.data.title}
        </h1>
        <time datetime={article.data.publishDate.toISOString()} class="text-sm">
            {
                new Date(article.data.publishDate).toLocaleDateString("id-ID", {
                    weekday: "long",
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </time>
    </div>

    {
        tags.length > 0 && (
            <div class="flex flex-wrap gap-2 py-4 text-sm">
                <strong>Kategori:</strong>
                {tags.map(
                    (tag) =>
                        tag && (
                            <a
                                data-is-feed-link
                                data-astro-reload
                                href={`/tags/${tag.id}`}
                            >
                                {tag.data.label}
                            </a>
                        ),
                )}
            </div>
        )
    }
    <slot />
</article>

<script>
    import feedLinks from "@/utils/feedLinks";

    feedLinks();
    document.addEventListener("astro:after-swap", feedLinks);
</script>
