---
import { Markdown } from "@astropub/md";

interface Props {
    title: string;
    description: string;
    articleCount: number;
    href: string;
}

const { title, description, articleCount, href } = Astro.props;
---

<a
    href={href}
    class="card-stack flex flex-col cursor-pointer h-full w-full bg-gray-900 border border-black p-6 text-white rounded-md"
    data-is-feed-link
    data-astro-reload
>
    <div class="text-xl font-bold mb-2">
        {title}
    </div>
    <div
        class="flex-1 text-white text-sm leading-relaxed mb-4 line-clamp-5 text-wrap"
    >
        <Markdown.Inline of={description} />
    </div>
    <div class="flex justify-end items-center gap-1.5 mt-auto">
        <span class="icon-book-open text-md font-bold"></span>
        <span class="text-xs">{articleCount} Artikel</span>
    </div>
</a>

<style>
    .card-stack {
        box-shadow:
            4px 4px 0 -2px white,
            8px 8px 0 -2px black;
    }
</style>

<script>
    import feedLinks from "@/utils/feedLinks";

    feedLinks();
    document.addEventListener("astro:after-swap", feedLinks);
</script>
